.micro{
    display: unset;
}
.overflow{
    overflow-y: auto;
    overflow-x:hidden;
    height: 94vh;
}
#relatorio{
    overflow-y: auto;
    overflow-x:auto;
    height: 91vh;
}
/* @media only screen and (max-width: 700px){
    .celular{
        display: unset;
    }
    .micro{
        display: none;
    }
    .table {
        overflow-x: scroll;
    }
    th, td {
        min-width: 50px; /* width/largura das células à escolha *//*
    }
} */
/* @media only screen and (max-width: 1300px){
    .col-sm-2 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
      }
} */
#headFixed{
    position: sticky;
}
@media only screen and (max-width: 700px){/*ajusta botões*/
    #botaoOrdena{
        margin-left: 0.5rem;
    }
}